<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Inventory - Staff Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/responive.css">
    <style>
        
    </style>
</head>

<body>

    <nav class="navbar">
        <div class="navbar-brand">
            <div class="brand-logo">SIM</div>
            <span class="brand-name">Smart Inventory Management</span>
        </div>

        <div class="user-menu">
            <form action="http://127.0.0.1:8000/" method="get">
                <button class="logout-btn" style="
            background-color: var(--primary-color);
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            align-items: center;
            gap: 8px;
            font-size: 1rem">
                    <i class="fas fa-sign-out-alt"></i> Logout
                </button>
            </form>
        </div>

    </nav>

    <!-- Sidebar -->
    <aside class="sidebar">


        <ul class="sidebar-menu">
            <div class="menu-title">Inventory</div>
            <li class="menu-item active" id="dashboardMenu">
                <i class="fas fa-tachometer-alt"></i>
                <span>Dashboard</span>
            </li>

            <form></form>
            <li class="menu-item" id="viewProductsMenu">
                <i class="fas fa-boxes"></i>
                <span>View Products</span>
            </li>
            <div class="menu-title">Upgrade</div>
            <li class="menu-item" id="addProductMenu">
                <i class="fas fa-plus-circle"></i>
                <span>Add Products</span>
            </li>
            <li class="menu-item" style="display: none;" id="restockProducts">
                <i class="fas fa-plus-circle"></i>
                <span>Sell and Restock</span>
            </li>
            <div class="menu-title">Sales</div>
            <li class="menu-item" id="saleProducts">
                <i class="fas fa-cash-register"></i>
                <span>Sell and Restock</span>
            </li>
            <li class="menu-item" id="salesHistoryMenu">
                <i class="fas fa-history"></i>
                <span>Sales History</span>
            </li>
            <li class="menu-item" id="inventoryHistoryMenu">
                <i class="fas fa-history"></i>
                <span>Inventory History</span>
            </li>


        </ul>
    </aside>

    <!-- Main Content -->
    <main class="main-content">
        <div id="dashboardContent">
            <div class="page-header">
                <div class="header-content">
                    <h1 class="page-title">Dashboard</h1>
                </div>

            </div>

            <!-- Dashboard Cards -->
            <div class="card-grid">
                <div class="card">
                    <h3>Total Products</h3>
                    <p>{{ TotalProducts }}</p>
                </div>
                <!-- <div class="card">
                    <h3>Today's Sales</h3>
                    <p>₹15,000</p>
                </div> -->
                <div class="card">
                    <h3>Low Stock Alerts</h3>
                    <p>{{ LowInQuantity }} Items</p>
                </div>

            </div>

            <!-- Recent Activities -->
            <div class="activity-section">
                <h3>Recent Activities</h3>
                <ul class="activity-list">
                    <li>Sold 2 units of iPhone 15 on 13 July 2025</li>
                    <li>Restocked 5 units of Samsung Galaxy S23</li>
                    <li>Added new product: OnePlus Nord CE 4</li>
                    <li>Updated price for iPad Pro</li>
                    <li>Removed 1 defective unit of Realme Pad</li>
                </ul>
            </div>
        </div>

        <!-- Add Product Form -->
        <div id="addProductForm" style="display: none;">
            <h2>Add Product</h2>
            <form id="productForm" method="post" action="http://127.0.0.1:8000/products/">
                <input type="hidden" name="user_id" value="1"> <!-- Replace with actual logged-in user ID -->

                <div>
                    <label for="ProductName">Product Name:</label>
                    <input type="text" id="ProductName" name="ProductName" required>
                </div>
                <div>
                    <label for="productDesc">Product Description:</label>
                    <textarea id="productDesc" name="productDesc" rows="4" cols="100" required></textarea>
                </div>
                <div>
                    <label for="quantity">Quantity:</label>
                    <input type="number" id="quantity" name="quantity" required>
                </div>
                <div>
                    <label for="price">Unit Price:</label>
                    <input type="number" id="price" name="price" required>
                </div>

                <button type="submit" class="ok-button">Save</button>
                <button type="button" class="ok-button" onclick="cancelAddProduct()">Cancel</button>
            </form>

        </div>

        <!-- Hidden Update Product Form -->
        <div id="UpdateProductForm" style="display: none;">
            <h2>Update Product</h2>
            <form id="productForm" method="post" action="/products/{product_id}">
                <input type="hidden" name="user_id" value="1">

                <div>
                    <label for="ProductName">Product Name:</label>
                    <input type="text" id="ProductName" name="ProductName" required>
                </div>
                <div>
                    <label for="productDesc">Product Description:</label>
                    <textarea id="productDesc" name="productDesc" rows="4" cols="100" required></textarea>
                </div>
                <div>
                    <label for="quantity">Quantity:</label>
                    <input type="number" id="quantity" name="quantity" required>
                </div>
                <div>
                    <label for="price">Price:</label>
                    <input type="number" id="price" name="price" required>
                </div>

                <button type="submit" class="ok-button">Save</button>
                <button type="button" class="ok-button" onclick="cancelAddProduct()">Cancel</button>
            </form>
        </div>


        <div id="viewProductsSection" style="display: none;">
            <h2>Sales and Restock Products</h2>
            <table class="product-table">
                <thead>
                    <tr>
                        <th>Product ID</th>
                        <th>Date</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td>{{ product.id }}</td>
                        <td>{{ product.TimeStamp.strftime('%Y-%m-%d') if product.TimeStamp else "—" }}</td>
                        <td>{{ product.product_name }}</td>
                        <td>{{ product.description }}</td>
                        <td>{{ product.quantity }}</td>
                        <td>₹{{ "{:,}".format(product.price) }}</td>
                        <td>
                            <button class="ok-button small-btn"
                                onclick="openSellForm('{{ product.id }}','{{ product.product_name }}','{{ product.description }}','{{ product.price }}')">Sell</button>
                            <button class="ok-button small-btn"
                                onclick="openRestockForm('{{ product.id }}')">Restock</button>

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>

        <!-- Sell Product Form -->
        <div id="sellProductForm" style="display: none;">
            <h2>Sell Product</h2>
            <form id="sellForm">
                <div class="displayNoneSellProducts">
                    <label>Product ID:</label>
                    <input type="text" id="sellProductId" readonly>
                </div>
                <div class="displayNoneSellProducts">
                    <label>Manufacture Date:</label>
                    <input type="date" id="manufactureDate">
                </div>
                <div class="displayNoneSellProducts">
                    <label>Product Name:</label>
                    <input type="text" id="sellProductName" readonly>
                </div class="displayNoneSellProducts">
                <div class="displayNoneSellProducts">
                    <label>Description:</label>
                    <textarea id="sellDescription" rows="3" readonly></textarea>
                </div>
                <div class="displayNoneSellProducts">
                    <label>Price (₹):</label>
                    <input type="number" id="sellPrice" readonly>
                </div>
                <div>
                    <label>Buyer:</label>
                    <input type="text" id="BuyersName">
                </div>
                <div>
                    <label>Quantity:</label>
                    <input type="number" id="sellQuantity" oninput="calculateTotal()">
                </div>
                <div>
                    <label>Total Cost (₹):</label>
                    <input type="text" id="totalCost" readonly>
                </div>

                <button type="button" class="ok-button" onclick="generateBill()">Generate Bill and Sell</button>
                <button type="button" class="ok-button" onclick="cancelSell()">Cancel</button>
            </form>
        </div>



        <!-- Restock Form Section -->
        <div id="restockFormSection" style="display: none;">
            <h2 class="mx-1">Restock Product</h2>
            <form id="restockForm">
                <div class="displayNoneSellProducts">
                    <label for="restockProductId">Product ID:</label>
                    <input type="text" id="restockProductId" readonly>
                </div>
                <div class="displayNoneSellProducts">
                    <label for="restockProductName">Product Name:</label>
                    <input type="text" id="restockProductName" readonly>
                </div>
                <div class="displayNoneSellProducts">
                    <label for="restockProductDesc">Product Description:</label>
                    <textarea id="restockProductDesc" rows="3" readonly></textarea>
                </div>
                <div class="mx-1">
                    <label for="restockQuantity">Quantity to Add:</label>
                    <input type="number" id="restockQuantity" required>
                </div>
                <div class="displayNoneSellProducts">
                    <label for="restockPrice">New Price:</label>
                    <input type="number" id="restockPrice" required>
                </div>
                <button type="button" class="ok-button" onclick="generateRestock()">Generate Restock</button>
                <button type="button" class="ok-button" onclick="cancelRestock()">Cancel</button>
            </form>
        </div>

        <div id="updateProductSection" style="display: none;">
            <h2 class="form-title">Update Product</h2>
            <form id="updateForm">
                <div class="form-field">
                    <label for="updateProductId">Product ID:</label>
                    <input type="text" id="updateProductId">
                </div>
                <div class="form-field">
                    <label for="updateProductName">Product Name:</label>
                    <input type="text" id="updateProductName">
                </div>
                <div class="form-field">
                    <label for="updateProductDesc">Product Description:</label>
                    <textarea id="updateProductDesc" rows="3"></textarea>
                </div>
                <div class="form-field">
                    <label for="updateQuantity">Quantity to Add:</label>
                    <input type="number" id="updateQuantity" required>
                </div>
                <div class="form-field">
                    <label for="updatePrice">New Price:</label>
                    <input type="number" id="updatePrice" required>
                </div>
                <button type="button" class="ok-button" onclick="submitProductUpdate()">Save</button>
                <button type="button" class="ok-button" onclick="cancelProductUpdate()">Cancel</button>
            </form>
        </div>


        <!-- Sale Bill View -->
        <div id="saleBillSection" style="display: none;">
            <div style="display: flex; justify-content: flex-end; margin-bottom: 10px;">
                <button class="ok-button" onclick="downloadBillPDF()">Download Bill PDF</button>
            </div>
            <h2>Invoice</h2>
            <table class="product-table">
                <tbody>
                    <tr>
                        <th>Product ID</th>
                        <td id="billProductId"></td>
                    </tr>
                    <tr class="displayNoneSellProducts">
                        <th>Manufacture Date</th>
                        <td id="billManufactureDate"></td>
                    </tr>
                    <tr>
                        <th>Sale ID</th>
                        <td id="billSaleId"></td>
                    </tr>
                    <tr>
                        <th>Buyers Information</th>
                        <td id="billBuyersName"></td>
                    </tr>
                    <tr>
                        <th>Selling Date</th>
                        <td id="billSaleDate"></td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td id="billProductName"></td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td id="billDescription"></td>
                    </tr>
                    <tr>
                        <th>Quantity</th>
                        <td id="billQuantity"></td>
                    </tr>
                    <tr>
                        <th>Total Cost (₹)</th>
                        <td id="billTotalCost"></td>
                    </tr>
                </tbody>
            </table>
        </div>


        <section id="product-cards-view" style="display: none;">
            <h2>All Products</h2>
            <div class="product-card-grid">
                {% for product in products %}
                <div class="product-card">

                    <p><strong>Product ID:</strong> {{ product.id }}</p>
                    <p><strong>Date:</strong> {{ product.TimeStamp.strftime('%Y-%m-%d') if product.TimeStamp else "—"
                        }}</p>
                    <p><strong>Name:</strong> {{ product.product_name }}</p>
                    <p><strong>Description:</strong> {{ product.description }}</p>
                    <p><strong>Quantity:</strong> {{ product.quantity }}</p>
                    <p><strong>Price:</strong> ₹{{ product.price }}</p>
                    <div style="display: flex; gap: 13px;">

                        <!-- <div style="margin-top: 10px;">
                            <button onclick="showUpdateForm('{{ product.id }}')" type="submit"
                                class="delete-button1">Update</button>
                        </div> -->
                        <form action="/delete-product/{{ product.id }}" method="post" style="margin-top: 10px;">
                            <button type="submit" class="delete-button">Delete</button>
                            <button type="button" class="ok-button small-btn"
                                onclick="showProductUpdateForm('{{ product.id }}','{{ product.product_name }}','{{ product.description }}','{{ product.quantity }}','{{ product.price }}')">Update</button>
                        </form>
                    </div>
                </div>
                {% endfor %}
            </div>

        </section>




        <!-- Sales History Section -->
        <div id="salesHistorySection" style="display: none;">
            <h2>Sales History</h2>
            <div class="export-button">
                <button class="ok-button" onclick="exportSalesToCSV()">Export Sales History</button>
            </div>

            <!-- <button class="ok-button" onclick="exportSalesToCSV()" style="margin-bottom: 10px;">Export Sales Report</button> -->
            <table class="product-table">
                <thead>
                    <tr>
                        <th>Sale ID</th>
                        <th>Sale Date</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Quantity</th>
                        <th>Total Cost</th>
                    </tr>
                </thead>
                <tbody id="salesHistoryBody">
                    {% for sale in SaleTransactions %}
                    <tr>
                        <td>{{ sale.id }}</td>
                        <td>{{ sale.timestamp_sold.strftime('%Y-%m-%d') if sale.timestamp_sold else "—" }}</td>
                        <td>{{ sale.product.product_name }}</td>
                        <td>{{ sale.product.description }}</td>
                        <td>{{ sale.quantity_sold }}</td>
                        <td>₹{{ "{:,}".format(sale.product_amt) }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>


        </div>

        <div id="inventoryHistorySection" style="display: none;">
            <h2>Inventory History</h2>
            <!-- <div class="export-button">
                <button class="ok-button" onclick="exportSalesToCSV()">Export Sales History</button>
            </div> -->

            <!-- <button class="ok-button" onclick="exportSalesToCSV()" style="margin-bottom: 10px;">Export Sales Report</button> -->
            <table class="product-table">
                <thead>
                    <tr>
                        <th>Inventory ID</th>
                        <th>Product Name</th>
                        <th>Quantity</th>
                        <th>Restock</th>
                        <th>Timestamp Restock</th>

                    </tr>
                </thead>
                <tbody id="inventoryHistoryBody">
                {% for inventory in inventory_history %}
                    {% if inventory.quantity_sold is not none %}
                    <tr>
                        <td>{{ inventory.id }}</td>
                        <td>{{ inventory.product.product_name }}</td>
                        <td>{{ inventory.quantity_sold }}</td>
                        <td>{{ inventory.restock }}</td>
                        <td>{{ inventory.timestamp_restock.strftime('%Y-%m-%d') if inventory.timestamp_restock else "—" }}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>

            </table>


        </div>

    </main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
<script src="../static/jsfiles/staff.js"></script>
</body>

</html>