<head>
    <link rel ="stylesheet" href="{{ url_for('static', path='/login.css') }}">
</head>
<div class="form-modal">

    <div class="form-toggle">
        <button id="login-toggle" onclick="toggleLogin()">log in</button>
        <button id="signup-toggle" onclick="toggleSignup()">sign up</button>
    </div>

    <div id="login-form">
        <form>
            <input type="text" placeholder="Enter email or username"/>
            <input type="password" placeholder="Enter password"/>
            <!-- <div class="role-selection">
                <label>Select Role:</label>
                <select class="role-dropdown">
                    <option value="admin">Admin</option>
                    <option value="staff">Staff</option>
                </select>
            </div> -->
            <button type="button" class="btn login">login</button>

            <!-- <p><a href="javascript:void(0)">Forgotten account</a></p> -->
         

        </form>
    </div>

    <div id="signup-form">
        <form>
            <input type="email" placeholder="Enter your email"/>
            <input type="text" placeholder="Choose username"/>
            <input type="password" placeholder="Create password"/>
            <input type="password" placeholder="Confirm password"/>

            <!-- <input type="role-dropdown" placeholder="select role"/> -->

           <!-- Radio buttons for role selection -->
        <div class="role-selection">
            <span class="radio-label">Select Role:</span>
                <div class="radio-group">
                    <label class="radio-button">
                        <input type="radio" name="role" value="admin" checked>Admin</label>
                    <label class="radio-button">
                        <input type="radio" name="role" value="staff">Staff</label>
                </div>
        </div>
        <button type="button" class="btn signup">create account</button>
        <!-- <p>Clicking <strong>create account</strong> means that you are agree to our <a href="javascript:void(0)">terms of services</a>.</p> -->
      
        </form>
    </div>

</div>

<script>
function toggleSignup(){
   document.getElementById("login-toggle").style.backgroundColor="#fff";
    document.getElementById("login-toggle").style.color="#222";
    document.getElementById("signup-toggle").style.backgroundColor="#57b846";
    document.getElementById("signup-toggle").style.color="#fff";
    document.getElementById("login-form").style.display="none";
    document.getElementById("signup-form").style.display="block";
}

function toggleLogin(){
    document.getElementById("login-toggle").style.backgroundColor="#57B846";
    document.getElementById("login-toggle").style.color="#fff";
    document.getElementById("signup-toggle").style.backgroundColor="#fff";
    document.getElementById("signup-toggle").style.color="#222";
    document.getElementById("signup-form").style.display="none";
    document.getElementById("login-form").style.display="block";
}
</script>


            <!-- <div class="role-selection"> -->
            <!-- <label>Select Role:</label>
                <select class="role-dropdown password-like">
                    <option value="admin">Admin</option>
                    <option value="staff">Staff</option>
                </select>
        </div> -->