{% extends 'base.html' %}
{% block title %}Add Product{% endblock %}

{% block content %}

<!-- Add Product Form -->
 <div id="addProductForm">
<h2><u>Add Product</u></h2>
<br>
<form id="productForm">
    <div>
        <label for="productName">Product Name:</label>
        <input type="text" id="productName" required>
    </div>

    <div>
        <label for="productDesc">Product Description:</label>
        <textarea id="productDesc" required></textarea>
    </div>

    <div>
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" required>
    </div>

    <div>
        <label for="price">Price:</label>
        <input type="number" id="price" required>
    </div>

    <button type="button" class="ok-button" onclick="saveProduct()">Save</button>
    <button type="button" class="ok-button" onclick="cancelAddProduct()">Cancel</button>
</form>
</div>
{% endblock %}
