{% extends "base.html" %}
{% block title %}Restock Product{% endblock %}

{% block content %}
</head>
<body>

<div id="viewProductsSection">
    <!-- <h2><u>Sale Products</u></h2> -->
    <table class="product-table">
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Date</th>
                <th>Name</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>101</td>
                <td>2025-07-13</td>
                <td>iPhone 15</td>
                <td>Latest Apple model</td>
                <td>10</td>
                <td>₹89,999</td>
                <td>
                    <button class="ok-button small-btn sell-btn" onclick="openSellForm()">Sell</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Sell Modal -->
<div id="sellModal" class="modal">
    <div class="modal-content">
        <span class="close-modal" onclick="closeSellModal()">&times;</span>
        <!-- <h2>Sell Product</h2> -->
        <form id="sellForm">
            <input type="hidden" id="sellProductId" name="productId">
            <label for="user">Buyer Name:</label>
            <input type="text" id="user" name="user" required> <br> <br>
            <label for="quantity">Quantity:</label>
            <input type="number" id="quantity" name="quantity" min="1" required> <br> <br>
            <!-- <button type="button" onclick="confirmSale()">Confirm</button> -->
            <button type="button" class="ok-button" onclick="generateBill()">Generate Bill</button>
        </form>
    </div>
</div>

<!-- Sale Bill View -->
<div id="saleBillSection">
    <h1>Invoice</h1>
    <br>
    <table class="product-table">
        <tbody>
            <tr><th>Product ID</th><td id="billProductId"></td></tr>
            <tr><th>Buyer Name</th><td id="userID"></td></tr>
            <tr><th>Sale ID</th><td id="billSaleId"></td></tr>
            <tr><th>Selling Date</th><td id="billSaleDate"></td></tr>
            <tr><th>Name</th><td id="billProductName"></td></tr>
            <tr><th>Description</th><td id="billDescription"></td></tr>
            <tr><th>Quantity</th><td id="billQuantity"></td></tr>
            <tr><th>Total Cost (₹)</th><td id="billTotalCost"></td></tr>
        </tbody>
    </table>
    <button class="ok-button" onclick="downloadBillPDF()" data-html2canvas-ignore="true">Download Bill PDF</button>
</div>

{% endblock %}
