{% extends "base.html" %}
{% block title %}Sell Product{% endblock %}

{% block content %}

<div id="viewProductsSection">
    <h2><u>Sale Products</u></h2>
    <table class="product-table">
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Date</th>
                <th>Name</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.date }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.desc }}</td>
                <td>{{ product.quantity }}</td>
                <td>₹{{ product.price }}</td>
                <td>
                    <a href="/sale-product-form/{{ product.id }}">
                        <button class="ok-button small-btn">Sell</button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
