{% extends "base.html" %}
{% block title %}View Products{% endblock %}

{% block content %}
<div class="search-bar">
    <div style="width:50%;">
        <i class="fas fa-search"></i>
        <form action="/view-products" method="get">
            <input type="text" name="search" placeholder="Search products..." value="{{ search }}">
        </form>
    </div>
</div>
<br>
<!-- <h2><u>All Products</u></h2> -->
<!-- <br> -->
<section id="product-cards-view">
    <div class="product-card-grid">
        {% for product in products %}
        <div class="product-card">  
            <p><strong>Product ID:</strong> {{ product.id }}</p>
            <p><strong>Date:</strong> {{ product.date }}</p>
            <p><strong>Name:</strong> {{ product.name }}</p>
            <p><strong>Description:</strong> {{ product.desc }}</p>
            <p><strong>Quantity:</strong> {{ product.quantity }}</p>
            <p><strong>Price:</strong> ₹{{ product.price }}</p>
        </div>
        {% else %}
        <p>No products found.</p>
        {% endfor %}
    </div>
</section>
{% endblock %}
