{% extends "base.html" %}
{% block title %}View Products{% endblock %}

{% block content %}
<div class="search-bar">
    <div style="width:50%;">
        <i class="fas fa-search"></i>
        <input type="text" placeholder="Search products...">
    </div>
</div>
<br>
<!-- <h2><u>All Products</u></h2> -->
<!-- <br> -->
<section id="product-cards-view">
    <div class="product-card-grid">
        <!-- Example Product Card -->
        <div class="product-card">  
            <p><strong>Product ID:</strong> 101</p>
            <p><strong>Date:</strong> 2025-07-13</p>
            <p><strong>Name:</strong> iPhone 15</p>
            <p><strong>Description:</strong> Latest Apple model</p>
            <p><strong>Quantity:</strong> 10</p>
            <p><strong>Price:</strong> ₹89,999</p>
        </div>
    </div>
</section>
{% endblock %}